/.vs
/Day1_1/x64/Debug
/Day1_2/x64/Debug
/Day2_1/x64/Debug
/Day2_2/x64/Debug
/Day3_1/x64/Debug
/Day3_2/x64/Debug
/Day4_1/x64/Debug
/Day4_2/x64/Debug
/Day5_1/x64/Debug
/Day5_2/x64/Debug
/Day6_1/x64/Debug
/Day6_2/x64/Debug
/Day7_1/x64/Debug
/Day7_2/x64/Debug
/Day8_1/x64/Debug
/Day8_2/x64/Debug
/Day9_1/x64/Debug
/Day9_2/x64/Debug
/Day10_1/x64/Debug
/Day10_2/x64/Debug
/Day11_1/x64/Debug
/Day11_2/x64/Debug
/Day12_1/x64/Debug
/Day12_2/x64/Debug
/Day13_1/x64/Debug
/Day13_2/x64/Debug
/Day14_1/x64/Debug
/Day14_2/x64/Debug
/Day15_1/x64/Debug
/Day15_2/x64/Debug
/Day16_1/x64/Debug
/Day16_2/x64/Debug
/Day17_1/x64/Debug
/Day17_2/x64/Debug
/Daz17_1/x64/Debug
/Daz17_2/x64/Debug
/Day18_1/x64/Debug
/Day18_2/x64/Debug
/Day19_1/x64/Debug
/Day19_2/x64/Debug
/Day20_1/x64/Debug
/Day20_2/x64/Debug
/Day21_1/x64/Debug
/Day21_2/x64/Debug
/Day22_1/x64/Debug
/Day22_2/x64/Debug
/Day23_1/x64/Debug
/Day23_2/x64/Debug
/Day24_1/x64/Debug
/Day24_2/x64/Debug
/Day25_1/x64/Debug
/Day25_2/x64/Debug
/Day25/x64/Debug
/.vs/AdventOfCode2024/v16
*.user       
/inputs/*
/x64/Debug
/x64/Release
/Day1_1/x64/Release
/Day1_2/x64/Release
/Day2_1/x64/Release
/Day2_2/x64/Release
/Day3_1/x64/Release
/Day3_2/x64/Release
/Day4_1/x64/Release
/Day4_2/x64/Release
/Day5_1/x64/Release
/Day5_2/x64/Release
/Day6_1/x64/Release
/Day6_2/x64/Release
/Day7_1/x64/Release
/Day7_2/x64/Release
/Day8_1/x64/Release
/Day8_2/x64/Release
/Day9_1/x64/Release
/Day9_2/x64/Release
/Day10_1/x64/Release
/Day10_2/x64/Release
/Day11_1/x64/Release
/Day11_2/x64/Release
/Day12_1/x64/Release
/Day12_2/x64/Release
/Day13_1/x64/Release
/Day13_2/x64/Release
/Day14_1/x64/Release
/Day14_2/x64/Release
/Day15_1/x64/Release
/Day15_2/x64/Release
/Day16_1/x64/Release
/Day16_2/x64/Release
/Day17_1/x64/Release
/Day17_2/x64/Release
/Daz17_1/x64/Release
/Daz17_2/x64/Release
/Day18_1/x64/Release
/Day18_2/x64/Release
/Day19_1/x64/Release
/Day19_2/x64/Release
/Day20_1/x64/Release
/Day20_2/x64/Release
/Day21_1/x64/Release
/Day21_2/x64/Release
/Day22_1/x64/Release
/Day22_2/x64/Release
/Day23_1/x64/Release
/Day23_2/x64/Release
/Day24_1/x64/Release
/Day24_2/x64/Release
/Day25_1/x64/Release
/Day25_2/x64/Release
/Day25/x64/Release